@import '../../../../style/index';

@navigatorPrefixCls: ryt-navigator;

.@{navigatorPrefixCls} {
  width: 100%;
  background-color: @navigator-default-bg-color;
  padding: @navigator-padding;
  color: @navigator-default-color;
  line-height: @navigator-height;
  display: flex;
  box-sizing: border-box;

  &&-light {
    background-color: @navigator-light-bg-color;
    color: @navigator-light-color;
    .ryt-navigator-left .ryt-icon,
    .ryt-navigator-right .ryt-icon {
      color: @navigator-light-color;
    }
  }

  &&-dark {
    background-color: @navigator-dark-bg-color;
    color: @navigator-dark-color;
    .ryt-navigator-left .ryt-icon,
    .ryt-navigator-right .ryt-icon {
      color: @navigator-dark-color;
    }
  }

  &-left {
    flex: 1;
    font-size: @navigator-side-font-size;
    &-icon {
      margin-right: @navigator-icon-text-margin;
    }
    .ryt-icon {
      color: @navigator-default-color;
      font-size: @navigator-side-font-size;
    }
  }

  &-title {
    .ellipsis();
    font-size: @navigator-font-size;
    text-align: center;
    max-width: 60%;
  }

  &-right {
    flex: 1;
    font-size: @navigator-side-font-size;
    text-align: right;
    &-text {
      margin-right: @navigator-icon-text-margin;
    }
    .ryt-icon {
      color: @navigator-default-color;
      font-size: @navigator-side-font-size;
      margin-right: @navigator-icon-text-margin;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  >.Tappable-active {
    opacity: 0.8;
  }
}